  
.main-content {
  padding-bottom: 50px;
}

  .highlight {
    background-color: #ffeb3b;
    padding: 6px 10px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
  }

  .duration {
    color: green;
    font-size: 14px;
    margin-top: 6px;
  }
  
  .checkin-checkout-wrapper {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .checkin-checkout-wrapper .btn {
    min-width: 140px;
    flex: 1 1 140px;
    max-width: 200px;
  }

  @media (min-width: 992px) {
    .main-content {
      margin-left: 250px;
    }
  }

@media (max-width: 577px) {
  .additional-buttons {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .additional-buttons .btn{
    width: 800px;
  }
}


